div.settings {
    position: relative;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    width: 75%;
    height: 66vh;
    margin: 2rem auto;
}

aside.sidebar{
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    width: 20%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: black;
}

aside.sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside.sidebar a {
    display: flex;
    width: 100%;
    align-items: center;
    cursor: pointer;
    gap: 1rem;
    color: black;
    text-decoration: none;
}

aside.sidebar a:hover h3{
    text-decoration: underline;
}

aside.sidebar a.active{
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: rgb(204, 253, 255);
}

aside.sidebar a.active::before{
    content: '';
    width: 6px;
    height: 18px;
    background-color: rgb(43, 54, 119);
}

div.menu{
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}

/* .sidebar a{
    border-bottom: 1px dashed black;
} */