.tickets-table{
    width: 95%;
    margin: 1rem auto;
    border-collapse: collapse;
    font-size: 0.9em;
    border: 1px solid gray;
}

.tickets-table thead tr {
    background-color: gray;
    color: white;
    text-align: left;
    font-weight: bold;
}

.tickets-table th{
    background-color: gray;
    position: sticky;
    top: 0;
}

.tickets-table th,
.tickets-table td{
    text-align: center;
    padding: 1rem 1.5rem;
}

/* .tickets-table tbody tr {
    border-bottom: 1px solid black;
} */
.tickets-table tbody tr:nth-last-of-type(2n){
    background-color: rgb(243, 243, 243);
}
.tickets-table tbody tr:hover {
    cursor: pointer;
    background-color: rgb(175, 255, 224);
}



.severity,
.status{
    border-radius: 50px;
    padding: 5px 10px;
    font-weight: bold;
}

/* Ticket Status/Severity  */
.Low{
    background-color: var(--low);
}
.Medium{
    background-color: var(--medium);
}
.High{
    background-color: var(--high);
}
.Severe{
    background-color: var(--severe);
}
.Immediate{
    background-color: var(--immediate);
}


.To-Do{
    background-color: var(--toDo);
}
.Open{
    background-color: var(--open);
}
.In-Progress{
    background-color: var(--inProgress);
}
.In-Testing{
    background-color: var(--inTesting);
}
.Closed{
    background-color: var(--closed);
}
.Resolved{
    background-color: var(--resolved);
}